# Leer archivo CSV desde Notebook python

### Instalaci√≥n pandas

In [2]:
conda install pandas
# o
pip install pandas

SyntaxError: invalid syntax (<ipython-input-2-f8970a8a73f9>, line 3)

### Cargamos las librerias necesarias
* csv    ==> trabajar con archivos csv
* os     ==> Para listar en el sistema operativo
* pandas ==> Para leer datos tabulares

In [1]:
# import csv
from os import listdir
import pandas as pd

### Leemos nuestro CSV con pandas

In [2]:
df1 = pd.read_csv("./01_CSV_Pandas_Python.csv",sep=";")

### Muestra el contenido del fichero

In [3]:
df1

,Nombre,Inicio,Fin,Duracion,Correo,Rol
0,Javier Teran,19/03/2021 16:48,19/03/2021 19:23,2 h 34 min,javi@javi.es,Organizador
1,alisalasir15,19/03/2021 16:48,19/03/2021 19:23,2h,alir15@gmail.com,Asistente
2,alisalasir16,19/03/2021 17:41,19/03/2021 19:23,2h,alir16@gmail.com,Asistente
3,alisalasir17,19/03/2021 17:43,19/03/2021 19:23,2h,alir17@gmail.com,Asistente
4,alisalasir18,19/03/2021 17:45,19/03/2021 19:23,2h,alir18@gmail.com,Asistente
5,alisalasir19,19/03/2021 17:28,19/03/2021 19:23,2h,alir19@gmail.com,Asistente
6,alisalasir20,19/03/2021 17:18,19/03/2021 19:23,2h,alir20@gmail.com,Asistente
7,alisalasir21,19/03/2021 16:48,19/03/2021 19:23,2h,alir21@gmail.com,Asistente

#### Muestra los registros 5 y 6

In [4]:
df1[5:7]

,Nombre,Inicio,Fin,Duracion,Correo,Rol
5,alisalasir19,19/03/2021 17:28,19/03/2021 19:23,2h,alir19@gmail.com,Asistente
6,alisalasir20,19/03/2021 17:18,19/03/2021 19:23,2h,alir20@gmail.com,Asistente

#### Muestra los todos los datos de las columnas 'Nombre','Correo','Rol'

In [5]:
df1.loc[:, ['Nombre','Correo','Rol']]

         Nombre            Correo          Rol
0  Javier Teran      javi@javi.es  Organizador
1  alisalasir15  alir15@gmail.com    Asistente
2  alisalasir16  alir16@gmail.com    Asistente
3  alisalasir17  alir17@gmail.com    Asistente
4  alisalasir18  alir18@gmail.com    Asistente
5  alisalasir19  alir19@gmail.com    Asistente
6  alisalasir20  alir20@gmail.com    Asistente
7  alisalasir21  alir21@gmail.com    Asistente

### Muestra las cabeceras de las columnas del fichero

In [6]:
df1.columns

Index(['Nombre', 'Inicio', 'Fin', 'Duracion', 'Correo', 'Rol'], dtype='object')

#### Tipo de datos que hay en df1

In [7]:
type(df1)

pandas.core.frame.DataFrame

In [8]:
df1.dtypes

Nombre      object
Inicio      object
Fin         object
Duracion    object
Correo      object
Rol         object
dtype: object

#### Roles unicos en el fichero

In [10]:
pd.unique(df1['Rol'])    
#pd.unique(df1['Correo'])

array(['javi@javi.es', 'alir15@gmail.com', 'alir16@gmail.com',
       'alir17@gmail.com', 'alir18@gmail.com', 'alir19@gmail.com',
       'alir20@gmail.com', 'alir21@gmail.com'], dtype=object)

#### Informaci√≥n sobre la columna Rol

In [15]:
df1['Rol'].describe()

count             8
unique            2
top       Asistente
freq              7
Name: Rol, dtype: object

#### Cuenta de registros segun el rol

In [16]:
RegistrosPorRol = df1.groupby('Rol')['Rol'].count()
print(RegistrosPorRol)

Rol
Asistente      7
Organizador    1
Name: Rol, dtype: int64