# Leer archivo CSV desde Notebook Jupyter

## Utilizando import csv

In [ ]:
import csv
with open ('./01LeerCSV.csv') as File:
    misDatosReunion = csv.DictReader (File, delimiter=';')
    for asistente in misDatosReunion:
        print(asistente['Nombre'] + ' - ' + asistente['Correo'] + ' - ' + asistente['Rol'])

## Instalamos y cargamos las librerias necesarias
* pandas ==> Para leer datos tabulares

In [2]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in d:\users\javier.teran\appdata\roaming\python\python39\site-packages (1.2.3)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\users\javier.teran\appdata\roaming\python\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in d:\users\javier.teran\appdata\roaming\python\python39\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in d:\users\javier.teran\appdata\roaming\python\python39\site-packages (from pandas) (1.20.2)
Requirement already satisfied: six>=1.5 in d:\users\javier.teran\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd

## Leer archivo CSV

In [4]:
df1 = pd.read_csv('./01LeerCSV.csv',sep=';')

In [5]:
df1

,Nombre,Inicio,Fin,Duracion,Correo,Rol
0,Javier Teran,19/03/2021 16:48,19/03/2021 19:23,2 h 34 min,javi@javi.es,Organizador
1,alisalasir15,19/03/2021 16:48,19/03/2021 19:23,2h,alir15@gmail.com,Asistente
2,alisalasir16,19/03/2021 17:41,19/03/2021 19:23,2h,alir16@gmail.com,Asistente
3,alisalasir17,19/03/2021 17:43,19/03/2021 19:23,2h,alir17@gmail.com,Asistente
4,alisalasir18,19/03/2021 17:45,19/03/2021 19:23,2h,alir18@gmail.com,Asistente
5,alisalasir19,19/03/2021 17:28,19/03/2021 19:23,2h,alir19@gmail.com,Asistente
6,alisalasir20,19/03/2021 17:18,19/03/2021 19:23,2h,alir20@gmail.com,Asistente
7,alisalasir21,19/03/2021 16:48,19/03/2021 19:23,2h,alir21@gmail.com,Asistente
8,yolasir21,19/03/2021 16:48,19/03/2021 19:23,2h,yo21@gmail.com,Organizador
9,angela,19/03/2021 16:48,19/03/2021 19:23,2h,angela@gmail.com,Coordinadora

## Mostrar registros o filas 5 y 6

In [ ]:
df1[5:7]

## Mostrar columnas Nombre, Correo, Rol

In [ ]:
df1.loc[:,['Nombre','Correo','Rol']]

## Mostrar cabeceras del fichero

In [ ]:
df1.columns

### Roles unicos 
*Sale en negrita*

In [ ]:
pd.unique(df1['Rol'])

### Asistentes que hay en cada rol

In [ ]:
df1.groupby("Rol")['Rol'].count()