# Leer archivo CSV desde Notebook python

### Cargamos las librerias necesarias
* csv    ==> trabajar con archivos csv
* pandas ==> Para leer datos tabulares

In [21]:
import csv
with open ('./01LeerCSV.csv') as File:
    misDatosReunion = csv.DictReader (File, delimiter=';')
    for asistente in misDatosReunion:
        print(asistente['Nombre'] + ' - ' + asistente['Correo'] + ' - ' + asistente['Rol'])

Javier Teran - javi@javi.es - Organizador
alisalasir15 - alir15@gmail.com - Asistente
alisalasir16 - alir16@gmail.com - Asistente
alisalasir17 - alir17@gmail.com - Asistente
alisalasir18 - alir18@gmail.com - Asistente
alisalasir19 - alir19@gmail.com - Asistente
alisalasir20 - alir20@gmail.com - Asistente
alisalasir21 - alir21@gmail.com - Asistente
yolasir21 - yo21@gmail.com - Organizador
angela - angela@gmail.com - Coordinadora

In [3]:
#conda install pandas
# o
pip install pandas

SyntaxError: invalid syntax (<ipython-input-3-f8970a8a73f9>, line 3)

## Importar librerias pandas

In [3]:
import pandas as pd

## Leer archivo CSV

In [4]:
df1 = pd.read_csv("./01LeerCSV.csv",sep=";")

In [5]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
Ver contenido de df1

In [9]:
df1

,Nombre,Inicio,Fin,Duracion,Correo,Rol
0,Javier Teran,19/03/2021 16:48,19/03/2021 19:23,2 h 34 min,javi@javi.es,Organizador
1,alisalasir15,19/03/2021 16:48,19/03/2021 19:23,2h,alir15@gmail.com,Asistente
2,alisalasir16,19/03/2021 17:41,19/03/2021 19:23,2h,alir16@gmail.com,Asistente
3,alisalasir17,19/03/2021 17:43,19/03/2021 19:23,2h,alir17@gmail.com,Asistente
4,alisalasir18,19/03/2021 17:45,19/03/2021 19:23,2h,alir18@gmail.com,Asistente
5,alisalasir19,19/03/2021 17:28,19/03/2021 19:23,2h,alir19@gmail.com,Asistente
6,alisalasir20,19/03/2021 17:18,19/03/2021 19:23,2h,alir20@gmail.com,Asistente
7,alisalasir21,19/03/2021 16:48,19/03/2021 19:23,2h,alir21@gmail.com,Asistente
8,yolasir21,19/03/2021 16:48,19/03/2021 19:23,2h,yo21@gmail.com,Organizador

Mostrar registros 5 y 6

In [13]:
df1[5:9]

,Nombre,Inicio,Fin,Duracion,Correo,Rol
5,alisalasir19,19/03/2021 17:28,19/03/2021 19:23,2h,alir19@gmail.com,Asistente
6,alisalasir20,19/03/2021 17:18,19/03/2021 19:23,2h,alir20@gmail.com,Asistente
7,alisalasir21,19/03/2021 16:48,19/03/2021 19:23,2h,alir21@gmail.com,Asistente
8,yolasir21,19/03/2021 16:48,19/03/2021 19:23,2h,yo21@gmail.com,Organizador

Mostrar columnas Nombre, Correo y Rol

In [20]:
df1.loc[:, ['Nombre','Correo','Rol']]

         Nombre            Correo           Rol
0  Javier Teran      javi@javi.es   Organizador
1  alisalasir15  alir15@gmail.com     Asistente
2  alisalasir16  alir16@gmail.com     Asistente
3  alisalasir17  alir17@gmail.com     Asistente
4  alisalasir18  alir18@gmail.com     Asistente
5  alisalasir19  alir19@gmail.com     Asistente
6  alisalasir20  alir20@gmail.com     Asistente
7  alisalasir21  alir21@gmail.com     Asistente
8     yolasir21    yo21@gmail.com   Organizador
9        angela  angela@gmail.com  Coordinadora

Muestra las cabeceras del fichero

In [22]:
df1.columns

Index(['Nombre', 'Inicio', 'Fin', 'Duracion', 'Correo', 'Rol'], dtype='object')

Roles unicos

In [18]:
pd.unique(df1['Rol'])

array(['Organizador', 'Asistente', 'Coordinadora'], dtype=object)

In [19]:
df1.groupby("Rol")['Rol'].count()

Rol
Asistente       7
Coordinadora    1
Organizador     2
Name: Rol, dtype: int64